*{
    box-sizing: border-box; /* makes padding and border included in elements total width and height*/
    padding: 0; /* No space between inner content box and the outer border box*/
    margin: 0;
    font-family: monospace;
    
}

header{
    /*display: inline-block;*/
    display: inline-block;
    padding: 1%; /*Create additional space between the element border and the content in the element */
    position: relative;
    width: 100%;
    background-color: black;
}


/*Class to change specific parts of text*/
.font_change {
    color: rgb(233, 35, 134);
    font-size: 6vw; /*variable width font size*/
}

/* The characteristics that will be applied to the h1 tag inside the header*/
#name {
    display: inline-block;
    font-size: 4vw; /*makes font size larger relative to the root font size*/
    border: 5px double rgb(102, 102, 102);
    background-color: white;
}

/*Characteristics for the nav bar element*/
#nav_bar {
    display: flex;
    flex: wrap;
    justify-content:flex-end;
    float: right;
    list-style-type: none;
    margin-right: 1%;
    margin-bottom: 1%;
    position: absolute;
    bottom: 0;
    right: 0;
        
}

/*Characteristics for the links within the nav bar element*/
.nav_links{
    font-size: 2vw; /*variable font size*/
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    border-bottom: 5px solid rgb(233, 35, 134);
    padding: 1%;
    margin-left: 3%;
   
}
/*Style the Nav Links*/
header nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*Create a hover affect for the nav links */
header nav a:hover{
    color: black;
    background-color: rgb(233, 35, 134);
}

/* Create the image header underneath the nav*/
.img_header {
    width: 100%;
    height: 400px;
    position: relative;
}

/*format text on the header image*/
#img_head_text{
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 20%;
    margin-top: 2%;
    margin-right: 6%;
    font-size: 0.9vw;
}


/* Caption within the header image*/
#img_head_cap{
    display:inline-block;
    font-size: 1vw;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2%;
    margin-right:  2%;
    color:white;
    background: rgba(59, 60, 61, 0.5);
}

#profile_pic{
    float:left;
    width: 30%;
    filter:grayscale();
    box-shadow: 10px 5px 5px rgb(102, 102, 102);
}

#aboutMe_format{
    font-size: 1.5vw;
    margin: 3%;
}

/*Create a flex conatiner for the div elements in the main ssection of the body */
.container_mine{
    display: flex;
    flex-direction: row;
    width:100%
    
}

/*Title to the side of the content*/
.aside_format{
    display: flex;
    justify-content: flex-end;
    flex: 1.1; /*slightly larger than one to accomodate the word contact being slightly larger than the other words*/
    font-size: 4vw;
    margin: 1%;
    padding: 1%;
    text-align: end;
    
}

.section_format{
    display:flex;
    flex: 3; /* Uses three even boxes of space*/
    margin: 1%;
    padding: 1%;
    border-left: 5px solid rgb(102, 102, 102);
} 

.container_column{
    display: flex;
    flex: 3;
    margin: 1%;
    padding: 1%;
    flex-direction: column;
    justify-content: flex-end;
    border-left: 5px solid rgb(102, 102, 102);
}

.container_position{
    position: relative; /* creating the position of the parent element for the image links.*/
    margin-right: 5%;
}



/*Format for the title blocks within the image links for the work pages */
.image_title{
    position: absolute; /*absolute position within the main container (image) */
    left: 1%;
    bottom: 8%;
    padding: 1%;
    margin-right: 15%;
    font-size: 2.5vw;
    color: black;
    background: linear-gradient(to right,rgb(153, 153, 153, 0),rgb(153, 153, 153, 0.7),rgb(153, 153, 153, 0.7),rgb(153, 153, 153, 0));
    text-align: center;
    
}
.smallimage_title{
    position:absolute;
    left:3%;
    bottom: 8%;
    padding: 1%;
    font-size: 1.7vw;
    color: black;
    background: linear-gradient(to right,rgb(153, 153, 153, 0),rgb(153, 153, 153, 0.7),rgb(153, 153, 153, 0.7),rgb(153, 153, 153, 0));
    margin-right: 20%;
    text-align: center;
}

/* Characteristics for the main portfolio piece */
.img_mainwork{
    display: flex;
    width: 100%;  
    margin: 1%;
    box-shadow: 10px 5px 5px rgb(102, 102, 102);
    border-radius: 40px;
    overflow: hidden;
}
.img_mainwork:hover {
    transform: scale(1.08, 1.08);
  }


/*Formatting each section used for content */
.section_work{
    display:flex;
    justify-content: flex-end;
    flex: 3; /* Uses three even boxes of space*/
    margin: 1%;
    padding: 1%;
} 

.repoLink{
    text-decoration: "none";
    color: white;
}

/* Format the link that the image will be contained in. */
.aLinkFormat{
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 3%;
}

/*Format for the secondary portfolio pieces */
.img_smallwork{
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    box-shadow: 10px 8px 8px rgb(102, 102, 102);
}
.img_smallwork:hover {
    transform: scale(1.08, 1.08);
  }

.container_position:hover > .image_title,
 .container_position:hover > .smallimage_title{
    background: linear-gradient(to right,rgb(153, 153, 153, 0),rgb(233, 35, 134,0.7),rgb(233, 35, 134,0.7),rgb(153, 153, 153, 0));;
}

.img_mainwork:hover,.img_smallwork:hover{
    box-shadow: 10px 6px 6px rgb(233, 35, 134);
}



/* List characteristics for the Contact section*/ 
.list_contact{
    list-style-type: none;
    display: flex;
    flex: 1;
}

/* Specific list item attributes*/
.inline_contact{
    display: flex;
    flex: 1;
    font-size: 2vw;
    margin: 1%;
    justify-content: center; 
    align-self: center; /*aligns flex content in the center */   
}

/*Used to format the contact items and the resume link items*/
.resume_item{
    color: black;
    text-decoration: none;
    border-bottom: 5px solid rgb(233, 35, 134);
    font-size: 2vw;
}
/* .resume_section{
    position: relative;
    flex-direction: column;
    text-align: center;
    display:flex;
    flex: 3;
    padding: 1%;
    margin-bottom: 25%;
    margin-top: 10%;
}
.sideBar{
    position: absolute;
    left:0;
    width:50%;
    padding: 5%;
    background-color:rgb(102, 102, 102) ;
}
.sideText{
    padding:5%;
    position: absolute;
    right:0;
    width:50%;
}
#education{
    font-size: 4vw;
    text-shadow: 0px 3px rgb(156, 156, 156);
} */
.contact_item_format{
    color: black;
    text-decoration: none;
    padding: 5%;
    font-size: 3vw;
}

.contact_item_format:hover, .resume_item:hover{
    color: white;
    background-color: rgb(233, 35, 134);
    padding: 5%;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .image_title{
        font-size: 2vw;
    }
    .smallimage_title{
        font-size: 1.3vw;
    }
  
  }

